.fixed-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  transition: opacity 0.5s linear, background 0.5s linear;
}

.background-sphere {
  position: absolute;
  overflow: hidden;
  animation-duration: 10s;
  animation-name: move-sphere;
  animation-iteration-count: infinite;

  &.dark {
    mix-blend-mode: lighten;
  }

  &.light {
    mix-blend-mode: darken;
  }
}

@mixin sphere {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: opacity 0.5s ease-in-out;
}

.old-sphere {
  @include sphere;
}

.next-sphere {
  @include sphere;

  z-index: -1;
}

.sphere {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  &-dark {
    background: radial-gradient(transparent, #121212 70%), linear-gradient(#D32E61, #337ABA);
    border: 1px solid #121212;
  }

  &-light {
    background: radial-gradient(transparent, #F5F5F5 70%), linear-gradient(#E77BA8, #85BFE8);
    border: 1px solid #F5F5F5;
  }
}

@keyframes move-sphere {
  0% { transform: translateX(0); }

  50% { transform: translateX(25%); }

  100% { transform: translateX(0); }
}
