$dark-text: #3E4242;
$light-text: #F5F5F5;
$dark-background: #090B0B;
$light-background: $light-text;
$primary: #B21661;
$light-colors: (
  info: #D1EFFF,
  danger: #FCD8FF,
  secondary: #3E4242
);
$dark-colors: (
  info: #0057D2,
  danger: #B21661,
  secondary: #A19B9B
);
