@font-face {
  font-family: Inter;
  src: local('Inter'), url("../fonts/Inter-VariableFont_opsz,wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Inter Italic';
  src: local('Inter Italic'), url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf");
  font-weight: italic;
  font-display: swap;
}
