@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans'), url("../fonts/WorkSans-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans Italic';
  src: local('Work Sans Italic'), url("../fonts/WorkSans-Italic-VariableFont_wght.ttf");
  font-weight: italic;
  font-display: swap;
}
