$header-height: 80px;

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5dvw;
  height: $header-height;

  .flex-center {
    justify-content: space-between;
    flex-basis: 300px;
    gap: 1em;
  }
}


.switch-container {
  @include glass;
  @include blur;

  padding: 6px;
  width: max-content;
}

.switch-grid {
  color: unset;
  display: grid;
  background: none;
  border: none;
  position: relative;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
  gap: 18px;
  padding: 6px 9px;
  min-height: 100%;
  pointer-events: auto;
  cursor: pointer;
}

.switch-text {
  line-height: 1;
  font-weight: 600;
  font-size: 1.125em;
  padding: 4px 8px;
  width: 100%;
}

.switch-indicator {
  @include glass;

  position: absolute;
  border: 1px solid rgb(255 255 255 / 25%);
  width: 50%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  left: 0;
}

.home-link {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
  width: max-content;

  .header-title {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    .name {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.header-button {
  @include glass;
  @include blur;

  height: 40px;
  width: 40px;
  color: currentcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
