$header-height: 80px;

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 7.5dvw;
  height: $header-height;

  .flex-center {
    justify-content: space-between;
    flex-basis: 300px;
    gap: 1em;
  }
}


.switch-container {
  @include glass;

  padding: 6px;
  width: max-content;
  transition: all 0.5s ease-in-out;
}

.switch-grid {
  color: unset;
  display: grid;
  background: none;
  border: none;
  position: relative;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
  gap: 18px;
  padding: 6px 9px;
  min-height: 100%;
  pointer-events: auto;
  cursor: pointer;
}

.switch-text {
  font-family: Inter, sans-serif;
  line-height: 1;
  font-weight: 600;
  font-size: 1.125em;
  padding: 4px 8px;
  width: 100%;
}

.switch-indicator {
  @include glass;

  position: absolute;
  border: 1px solid rgb(255 255 255 / 25%);
  width: 50%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  left: 0;
}

.home-link {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
  width: max-content;
  transition: all 0.5s ease-in-out;

  .header-title {
    display: flex;
    gap: 10px;
    font-size: 32px;
    align-items: flex-end;

    .name {
      font-size: 34px;
      font-weight: 700;
    }
  }
}

.header-button {
  @include glass;

  height: 40px;
  width: 40px;
  color: currentcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
