$header-height: 80px;

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 7.5dvw;
  height: $header-height;
  background: linear-gradient(159deg, rgb(255 255 255 / 50%) 0%, rgb(255 255 255 / 40%) 100.06%);

  &.dark {
    background: linear-gradient(159deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 40%) 100.06%);
  }
}


.switch-container {
  @include glass;

  padding: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.switch-grid {
  color: unset;
  display: grid;
  background: none;
  border: none;
  position: relative;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
  gap: 18px;
  padding: 6px 9px;
  min-height: 100%;
  pointer-events: auto;
  cursor: pointer;
}

.switch-text {
  font-family: Inter, sans-serif;
  line-height: 1;
  font-weight: 600;
  font-size: 1.125em;
  padding: 4px 8px;
  width: 100%;
}

.switch-indicator {
  @include glass;

  position: absolute;
  border: 1px solid rgb(255 255 255 / 25%);
  width: 50%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  left: 0;
}

.home-link {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;

  .header-title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 6px;
    font-size: 15px;
  }
}
