.about-intro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 1em;
  place-items: center;

  .image {
    width: 100%;
    height: auto;
    max-height: 80dvh;
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    gap: 1em;

    > .heading {
      font-weight: 600;
    }
  }

  @media (min-width: $breakpoint) {
    gap: 6em;
    grid-template-columns: 1fr 1fr;
  }
}
