@use 'sass:map';
@use 'sass:list';

$info-light: #D1EFFF;
$info-dark: #0057D2;
$danger: #FCD8FF;

.badge-info {
  background-color: $info-light;
  color: $info-dark;

  &.dark {
    background-color: $info-dark;
    color: $info-light;
  }
}

.badge-danger {
  background-color: $danger;
}
