@use 'sass:map';
@use 'sass:list';

$color-names: ['info', 'danger'];

@each $color in $color-names {
  .badge-#{$color} {
    background-color: map.get($light-colors, $color);
    &.text-swap { color: map.get($dark-colors, $color); }

    &.dark {
      background-color: map.get($dark-colors, $color);
      &.text-swap { color: map.get($light-colors, $color); }
    }
  }
}

.big-badge {
  display: flex;
  align-items: center;
  gap: 0.57em;
  width: max-content;
  padding: 0.57em 1.14em;
  text-transform: uppercase;
}
