@import './intro';
@import './badges';

.portfolio-container-for-hero-image {
  width: 100%;
  position: relative;

  .portfolio-hero-image {
    width: 100%;
    border-radius: 0.875em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    @media (min-width: $breakpoint) {
      height: calc(550px - 1.5em);
    }
  }
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 10dvw;
  height: min-content;
}

.portfolio-card {
  @include card;
  @include glass;

  border-radius: 1.5em;
  display: flex;
  padding: 1.25em;
  align-items: center;
  justify-content: stretch;

  @media (min-width: $breakpoint) {
    padding: 2.5em;
    gap: 2.5em;
    flex-direction: row;
    min-height: 550px;

    &.reverse {
      flex-direction: row-reverse;
    }
  }
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 0.875em;
  padding-top: 0.375em;

  .badge-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;

    > div {
      padding: 0.3125em 0.5em;
    }
  }

  .logo {
    display: none;
  }

  .name-and-category {
    display: flex;
    flex-direction: column;
    gap: 0.375em;

    > h1 {
      font-weight: 500;
      margin: 0;
    }

    > h2 {
      font-weight: 400;
      margin: 0;
    }
  }

  @media (min-width: $breakpoint) {
    flex: 0 0 250px;
    padding-top: unset;

    .logo { @include logo; }

    .title {
      font-size: 2.25rem;
    }
  }
}
