@import './intro';
@import './badges';

.portfolio-container-for-hero-image {
  width: 100%;
  position: relative;

  .portfolio-hero-image {
    width: 100%;

    > video {
      min-height: 100%;
      min-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      transition: opacity 1s ease-in-out;
    }

    @media (width < $breakpoint) {
      &.video {
        height: 300px;
      }
    }

    @media (width >= $breakpoint) {
      height: calc(450px - 1.5em);
    }
  }
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 9.375em;
  height: min-content;
}

.portfolio-card {
  @include glass;

  grid-template-columns: 1fr;
  border-radius: 1.5em;
  display: grid;
  padding: 2.5em;
  gap: 2.5em;
  align-items: center;
  justify-content: stretch;
  margin: 0 auto;
  color: $light-text;

  @media (width >= $breakpoint) {
    min-height: 450px;
    grid-template-columns: 1fr 1fr;

    &.reverse > .portfolio-container-for-hero-image {
      order: 2;
    }

  }
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 0.875em;
  padding-top: 0.375em;

  .badge-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;

    > div {
      padding: 0.3125em 0.5em;
    }
  }

  .name-and-category {
    display: flex;
    flex-direction: column;
    gap: 0.375em;

    > h1 {
      font-weight: 500;
      margin: 0;
    }

    > h2 {
      font-weight: 400;
      margin: 0;
    }
  }

  @media (width >= $breakpoint) {
    padding-top: unset;

    .title {
      font-size: 2.25rem;
    }
  }
}

.portfolio-project-link {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
  transition: gap 0.2s ease-in-out;

  &:hover {
    gap: 0.75em;
    text-decoration: underline;
  }
}
