.intro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 1em;
  place-items: center;

  @media (min-width: $breakpoint) {
    gap: 6em;
    grid-template-columns: 1fr 1fr;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    gap: 1em;

    > .heading {
      font-weight: 600;
    }
  }
}

.portfolio-intro-duck {
  display: flex;
  align-items: center;

  > svg {
    width: 100%;
    height: auto;
    font-family: 'Just Another Hand', cursive;
  }
}
