.portfolio-intro {
  margin-top: 5dvw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @media (min-width: $breakpoint) {
    gap: 6em;
    grid-template-columns: 1fr 1fr;
  }

  &-hi {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-size: 1.25rem;
    gap: 1em;

    > .hi {
      font-weight: 600;
    }
  }

  .badge {
    font-size: 0.875rem;
    width: max-content;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.portfolio-intro-duck {
  display: flex;
  align-items: center;

  > svg {
    width: 100%;
    height: auto;
    font-family: 'Just Another Hand', cursive;
  }
}
