.portfolio-intro {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.based-in-san-francisco {
  display: flex;
  align-items: center;
  gap: 0.25em;

  .green-dot {
    width: 0.5em;
    height: 0.5em;
    background-color: #25EA60;
    border-radius: 50%;
    border: 1px solid #888;
  }
}
