$gaintain-breakpoint: 1200px;

.gaintain-icon {
  transition: all 0.5s;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  padding: 2px;

  > svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.gaintain-about {
  padding: 7.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 1.5em;

  > img {
    max-width: 100%;
  }
}


.gaintain-overview {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1.5em;
  align-items: center;
  text-align: center;
  width: 100%;

  > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    > .cell {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;
      gap: 0.375em;
    }

    > .cell.right {
      align-items: flex-end;
    }

    > .cell.bottom {
      > div {
        margin-bottom: 0.625em;
      }
    }
  }
}

@mixin gaintain-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 7.5rem 0;

  > img {
    border-radius: 0.875em;
    max-width: 100%;
  }
}

.gaintain-top-to-bottom {
  @include gaintain-container;
}

.gaintain-side-by-side {
  @include gaintain-container;

  > video {
    border-radius: 1.5em;
    max-width: 100%;
  }

  @media (width >= $gaintain-breakpoint) {
    flex-direction: row;
    justify-content: center;

    &.reverse {
      flex-direction: row-reverse;
    }

    > img, video {
      max-width: 50%;
      max-height: 100dvh;
    }
  }
}

.gaintain-explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;

  > section {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    font-size: 1em;

    em {
      font-style: oblique 10deg;
    }

    &.more-padding {
      padding: 2.5em 0;
    }
  }

  @media (width >= $gaintain-breakpoint) {
    min-width: 375px;
  }
}
