$gaintain-breakpoint: 1200px;

.gaintain-header {
  font-size: $h1-size * 2 * $mobile-multiplier;
  font-weight: 600;
  font-family: Inter, sans-serif;

  @media (min-width: $gaintain-breakpoint) { font-size: $h1-size * 2; }
}

.gaintain-icon {
  transition: all 0.5s;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  padding: 2px;

  > svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.gaintain-about {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  text-align: center;
  width: 100%;

  > img {
    max-width: 100%;
  }
}


.gaintain-overview {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1.5em;
  align-items: center;
  text-align: center;
  width: 100%;

  > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    > .cell {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1em;
      text-align: start;
      gap: 6px;

      > div {
        font-size: 18px;
        font-weight: 700;
      }
    }

    > .cell.right {
      align-items: flex-end;
    }

    > .cell.bottom {
      > div {
        margin-bottom: 10px;
      }
    }
  }
}

@mixin gaintain-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;

  > img {
    border-radius: 0.875em;
    max-width: 100%;
  }
}

.gaintain-top-to-bottom {
  @include gaintain-container;
}

.gaintain-key-learnings {
  @include gaintain-container;

  align-items: flex-start;
}

.gaintain-side-by-side {
  @include gaintain-container;

  @media (min-width: $gaintain-breakpoint) {
    flex-direction: row;
    justify-content: center;

    &.reverse {
      flex-direction: row-reverse;
    }

    > img, video {
      max-width: 50%;
      max-height: 100dvh;
    }

    > video {
      border-radius: 13% / 6.5%;
    }
  }
}

.gaintain-explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;

  > section {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    font-size: 1em;

    em {
      font-style: oblique 10deg;
    }

    &.more-padding {
      padding: 2.5em 0;
    }

    > .list {
      display: flex;
      flex-direction: column;
      gap: 0.875em;
      margin-top: 0.75em;
    }
  }

  @media (min-width: $gaintain-breakpoint) {
    min-width: 375px;
  }
}

.gaintain-mockups {
  width: 100dvw;
  min-height: 84dvw;
  align-self: center;
  background-size: 100% auto;
}

.gaintain-ab-testing-image {
  max-height: 100dvh;

  @media (min-width: $gaintain-breakpoint) {
    padding: 0 2em;
  }
}

.gaintain-learnings {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;

  @media (min-width: $gaintain-breakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gaintain-learning {
  display: flex;
  flex-direction: column;
  padding: 0 0.625em;
  gap: 0.75em;

  > .paragraphs {
    display: flex;
    flex-direction: column;
    gap: 1em;

    em {
      font-style: oblique 10deg;
    }
  }
}
