$gaintain-breakpoint: 1200px;

.gaintain-header {
  font-size: $h1-size * 2 * $mobile-multiplier;
  font-weight: 600;
  font-family: Inter, sans-serif;

  @media (min-width: $breakpoint) { font-size: $h1-size * 2; }
}

.gaintain-icon {
  transition: all 0.5s;
  border-radius: 0.5em;
  width: max-content;
  height: max-content;
  padding: 3px;

  > svg {
    display: block;
    mix-blend-mode: difference;
    color: #F5F5F5;
    width: 30px;
    height: 30px;
  }
}

.gaintain-about {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  text-align: center;

  > img {
    max-width: 100%;
  }
}


.gaintain-overview {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1.5em;
  align-items: center;
  text-align: center;
  width: 100%;

  > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    > .cell {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1em;
      text-align: start;
      gap: 6px;

      > div {
        font-size: 18px;
        font-weight: 700;
      }
    }

    > .cell.right {
      align-items: flex-end;
    }

    > .cell.bottom {
      > div {
        margin-bottom: 10px;
      }
    }
  }
}

@mixin gaintain-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 1.25em;

  > img {
    border-radius: 0.875em;
    max-width: 100%;
  }
}

.gaintain-top-to-bottom {
  @include gaintain-container;

}

.gaintain-side-by-side {
  @include gaintain-container;

  @media (min-width: $gaintain-breakpoint) {
    flex-direction: row;
    justify-content: center;

    &.reverse {
      flex-direction: row-reverse;
    }

    > img {
      max-width: 50%;
    }
  }
}

.gaintain-explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  min-width: 375px;

  > section {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    font-size: 1em;

    em {
      font-style: oblique 10deg;
    }

    &.padding {
      padding: 1.25em 0;
    }

    &.more-padding {
      padding: 2.5em 0;
    }

    > .list {
      display: flex;
      flex-direction: column;
      gap: 0.875em;
      margin-top: 0.75em;
    }
  }
}

.gaintain-mockups {
  width: 95dvw;
  min-height: 100dvw;
  margin-left: calc(calc($page-width - 95dvw) / 2);
  background-size: min(1078px, 80%);
}

.gaintain-learnings {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;

  @media (min-width: $breakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gaintain-learning {
  display: flex;
  flex-direction: column;
  padding: 0 0.625em;
  gap: 0.75em;

  > .paragraphs {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
