@import './gaintain';
@import './phronesis';

.case-study-container {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.about-case-study {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-basis: 37%;
  flex-grow: 3;

  .client-and-date {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 10%;

    > div {
      display: flex;
      flex-direction: column;
    }
  }
}

.case-study-footer {
  display: flex;
  gap: 25px;
  font-size: 1.375rem;

  .wave {
    font-size: 2.25rem;
  }

  .thanks {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
